<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ABANDON</key>
	<array>
		<array>
			<integer>5</integer>
			<integer>4</integer>
		</array>
		<array>
			<integer>10</integer>
			<integer>5</integer>
		</array>
		<array>
			<integer>10</integer>
			<integer>11</integer>
		</array>
		<array>
			<integer>8</integer>
			<integer>11</integer>
		</array>
		<array>
			<integer>8</integer>
			<integer>2</integer>
		</array>
	</array>
	<key>ADAPT</key>
	<array>
		<array>
			<integer>6</integer>
			<integer>10</integer>
		</array>
		<array>
			<integer>10</integer>
			<integer>11</integer>
		</array>
		<array>
			<integer>9</integer>
			<integer>11</integer>
		</array>
	</array>
	<key>ADVANCE</key>
	<array>
		<array>
			<integer>1</integer>
			<integer>7</integer>
		</array>
		<array>
			<integer>5</integer>
			<integer>7</integer>
		</array>
	</array>
	<key>AGAIN / REPEAT</key>
	<array>
		<array>
			<integer>7</integer>
			<integer>5</integer>
		</array>
		<array>
			<integer>7</integer>
			<integer>10</integer>
		</array>
		<array>
			<integer>10</integer>
			<integer>11</integer>
		</array>
		<array>
			<integer>8</integer>
			<integer>11</integer>
		</array>
		<array>
			<integer>8</integer>
			<integer>9</integer>
		</array>
	</array>
	<key>ALL</key>
	<array>
		<array>
			<integer>1</integer>
			<integer>2</integer>
		</array>
		<array>
			<integer>2</integer>
			<integer>3</integer>
		</array>
		<array>
			<integer>4</integer>
			<integer>3</integer>
		</array>
		<array>
			<integer>5</integer>
			<integer>4</integer>
		</array>
		<array>
			<integer>6</integer>
			<integer>5</integer>
		</array>
		<array>
			<integer>6</integer>
			<integer>1</integer>
		</array>
	</array>
	<key>ANSWER</key>
	<array>
		<array>
			<integer>7</integer>
			<integer>8</integer>
		</array>
		<array>
			<integer>8</integer>
			<integer>9</integer>
		</array>
		<array>
			<integer>9</integer>
			<integer>11</integer>
		</array>
	</array>
	<key>ATTACK / WAR</key>
	<array>
		<array>
			<integer>7</integer>
			<integer>5</integer>
		</array>
		<array>
			<integer>7</integer>
			<integer>1</integer>
		</array>
		<array>
			<integer>1</integer>
			<integer>8</integer>
		</array>
		<array>
			<integer>8</integer>
			<integer>3</integer>
		</array>
	</array>
	<key>AVOID / STRUGGLE</key>
	<array>
		<array>
			<integer>6</integer>
			<integer>1</integer>
		</array>
		<array>
			<integer>1</integer>
			<integer>8</integer>
		</array>
		<array>
			<integer>8</integer>
			<integer>2</integer>
		</array>
		<array>
			<integer>2</integer>
			<integer>9</integer>
		</array>
	</array>
	<key>BARRIER / OBSTACLE</key>
	<array>
		<array>
			<integer>9</integer>
			<integer>3</integer>
		</array>
		<array>
			<integer>9</integer>
			<integer>11</integer>
		</array>
		<array>
			<integer>1</integer>
			<integer>11</integer>
		</array>
	</array>
	<key>BEGIN</key>
	<array>
		<array>
			<integer>1</integer>
			<integer>10</integer>
		</array>
		<array>
			<integer>10</integer>
			<integer>4</integer>
		</array>
		<array>
			<integer>9</integer>
			<integer>4</integer>
		</array>
	</array>
	<key>BEING / HUMAN</key>
	<array>
		<array>
			<integer>7</integer>
			<integer>8</integer>
		</array>
		<array>
			<integer>8</integer>
			<integer>9</integer>
		</array>
		<array>
			<integer>9</integer>
			<integer>4</integer>
		</array>
		<array>
			<integer>10</integer>
			<integer>4</integer>
		</array>
		<array>
			<integer>7</integer>
			<integer>10</integer>
		</array>
	</array>
	<key>BODY / SHELL</key>
	<array>
		<array>
			<integer>7</integer>
			<integer>8</integer>
		</array>
		<array>
			<integer>8</integer>
			<integer>11</integer>
		</array>
		<array>
			<integer>7</integer>
			<integer>11</integer>
		</array>
	</array>
	<key>BREATHE</key>
	<array>
		<array>
			<integer>6</integer>
			<integer>7</integer>
		</array>
		<array>
			<integer>7</integer>
			<integer>11</integer>
		</array>
		<array>
			<integer>8</integer>
			<integer>11</integer>
		</array>
		<array>
			<integer>8</integer>
			<integer>2</integer>
		</array>
	</array>
	<key>CAPTURE</key>
	<array>
		<array>
			<integer>2</integer>
			<integer>9</integer>
		</array>
		<array>
			<integer>9</integer>
			<integer>11</integer>
		</array>
		<array>
			<integer>10</integer>
			<integer>11</integer>
		</array>
		<array>
			<integer>10</integer>
			<integer>5</integer>
		</array>
		<array>
			<integer>4</integer>
			<integer>5</integer>
		</array>
	</array>
	<key>CHANGE / MODIFY</key>
	<array>
		<array>
			<integer>10</integer>
			<integer>11</integer>
		</array>
		<array>
			<integer>4</integer>
			<integer>11</integer>
		</array>
		<array>
			<integer>9</integer>
			<integer>4</integer>
		</array>
	</array>
	<key>CHAOS / DISORDER</key>
	<array>
		<array>
			<integer>6</integer>
			<integer>5</integer>
		</array>
		<array>
			<integer>6</integer>
			<integer>1</integer>
		</array>
		<array>
			<integer>1</integer>
			<integer>2</integer>
		</array>
		<array>
			<integer>2</integer>
			<integer>8</integer>
		</array>
		<array>
			<integer>8</integer>
			<integer>11</integer>
		</array>
		<array>
			<integer>10</integer>
			<integer>11</integer>
		</array>
		<array>
			<integer>10</integer>
			<integer>4</integer>
		</array>
	</array>
	<key>CLEAR</key>
	<array>
		<array>
			<integer>1</integer>
			<integer>11</integer>
		</array>
		<array>
			<integer>4</integer>
			<integer>11</integer>
		</array>
	</array>
	<key>CLOSE ALL</key>
	<array>
		<array>
			<integer>1</integer>
			<integer>2</integer>
		</array>
		<array>
			<integer>2</integer>
			<integer>3</integer>
		</array>
		<array>
			<integer>4</integer>
			<integer>3</integer>
		</array>
		<array>
			<integer>5</integer>
			<integer>4</integer>
		</array>
		<array>
			<integer>6</integer>
			<integer>5</integer>
		</array>
		<array>
			<integer>6</integer>
			<integer>1</integer>
		</array>
		<array>
			<integer>1</integer>
			<integer>11</integer>
		</array>
		<array>
			<integer>4</integer>
			<integer>11</integer>
		</array>
	</array>
	<key>COMPLEX</key>
	<array>
		<array>
			<integer>7</integer>
			<integer>8</integer>
		</array>
		<array>
			<integer>7</integer>
			<integer>11</integer>
		</array>
		<array>
			<integer>10</integer>
			<integer>11</integer>
		</array>
	</array>
	<key>CONFLICT</key>
	<array>
		<array>
			<integer>7</integer>
			<integer>10</integer>
		</array>
		<array>
			<integer>10</integer>
			<integer>9</integer>
		</array>
		<array>
			<integer>7</integer>
			<integer>5</integer>
		</array>
		<array>
			<integer>9</integer>
			<integer>8</integer>
		</array>
		<array>
			<integer>8</integer>
			<integer>3</integer>
		</array>
	</array>
	<key>CONSEQUENCE</key>
	<array>
		<array>
			<integer>6</integer>
			<integer>7</integer>
		</array>
		<array>
			<integer>7</integer>
			<integer>10</integer>
		</array>
		<array>
			<integer>10</integer>
			<integer>9</integer>
		</array>
		<array>
			<integer>9</integer>
			<integer>3</integer>
		</array>
	</array>
	<key>CONTEMPLATE</key>
	<array>
		<array>
			<integer>1</integer>
			<integer>2</integer>
		</array>
		<array>
			<integer>2</integer>
			<integer>3</integer>
		</array>
		<array>
			<integer>4</integer>
			<integer>3</integer>
		</array>
		<array>
			<integer>10</integer>
			<integer>4</integer>
		</array>
		<array>
			<integer>7</integer>
			<integer>10</integer>
		</array>
		<array>
			<integer>7</integer>
			<integer>11</integer>
		</array>
		<array>
			<integer>8</integer>
			<integer>11</integer>
		</array>
	</array>
	<key>CONTRACT / REDUCE</key>
	<array>
		<array>
			<integer>9</integer>
			<integer>8</integer>
		</array>
		<array>
			<integer>8</integer>
			<integer>3</integer>
		</array>
	</array>
	<key>COURAGE</key>
	<array>
		<array>
			<integer>7</integer>
			<integer>5</integer>
		</array>
		<array>
			<integer>7</integer>
			<integer>10</integer>
		</array>
		<array>
			<integer>10</integer>
			<integer>9</integer>
		</array>
	</array>
	<key>CREATE / CREATION</key>
	<array>
		<array>
			<integer>10</integer>
			<integer>5</integer>
		</array>
		<array>
			<integer>10</integer>
			<integer>11</integer>
		</array>
		<array>
			<integer>8</integer>
			<integer>11</integer>
		</array>
		<array>
			<integer>8</integer>
			<integer>2</integer>
		</array>
	</array>
	<key>CREATIVITY</key>
	<array>
		<array>
			<integer>6</integer>
			<integer>7</integer>
		</array>
		<array>
			<integer>7</integer>
			<integer>11</integer>
		</array>
		<array>
			<integer>4</integer>
			<integer>11</integer>
		</array>
		<array>
			<integer>10</integer>
			<integer>4</integer>
		</array>
		<array>
			<integer>6</integer>
			<integer>10</integer>
		</array>
	</array>
	<key>CREATIVITY / MIND / THOUGHT / IDEA</key>
	<array>
		<array>
			<integer>8</integer>
			<integer>2</integer>
		</array>
		<array>
			<integer>2</integer>
			<integer>3</integer>
		</array>
		<array>
			<integer>9</integer>
			<integer>3</integer>
		</array>
		<array>
			<integer>9</integer>
			<integer>11</integer>
		</array>
		<array>
			<integer>7</integer>
			<integer>11</integer>
		</array>
		<array>
			<integer>7</integer>
			<integer>6</integer>
		</array>
		<array>
			<integer>6</integer>
			<integer>5</integer>
		</array>
		<array>
			<integer>10</integer>
			<integer>5</integer>
		</array>
	</array>
	<key>DANGER</key>
	<array>
		<array>
			<integer>11</integer>
			<integer>4</integer>
		</array>
		<array>
			<integer>7</integer>
			<integer>11</integer>
		</array>
		<array>
			<integer>7</integer>
			<integer>1</integer>
		</array>
	</array>
	<key>DATA / SIGNAL / MESSAGE</key>
	<array>
		<array>
			<integer>1</integer>
			<integer>8</integer>
		</array>
		<array>
			<integer>8</integer>
			<integer>11</integer>
		</array>
		<array>
			<integer>10</integer>
			<integer>11</integer>
		</array>
		<array>
			<integer>10</integer>
			<integer>4</integer>
		</array>
	</array>
	<key>DEFEND</key>
	<array>
		<array>
			<integer>6</integer>
			<integer>10</integer>
		</array>
		<array>
			<integer>10</integer>
			<integer>4</integer>
		</array>
		<array>
			<integer>9</integer>
			<integer>4</integer>
		</array>
		<array>
			<integer>9</integer>
			<integer>2</integer>
		</array>
	</array>
	<key>DESTINATION</key>
	<array>
		<array>
			<integer>3</integer>
			<integer>4</integer>
		</array>
		<array>
			<integer>2</integer>
			<integer>3</integer>
		</array>
	</array>
	<key>DESTINY</key>
	<array>
		<array>
			<integer>7</integer>
			<integer>11</integer>
		</array>
		<array>
			<integer>8</integer>
			<integer>11</integer>
		</array>
		<array>
			<integer>8</integer>
			<integer>9</integer>
		</array>
		<array>
			<integer>9</integer>
			<integer>10</integer>
		</array>
		<array>
			<integer>10</integer>
			<integer>4</integer>
		</array>
	</array>
	<key>DESTROY / DESTRUCTION</key>
	<array>
		<array>
			<integer>6</integer>
			<integer>7</integer>
		</array>
		<array>
			<integer>7</integer>
			<integer>11</integer>
		</array>
		<array>
			<integer>9</integer>
			<integer>11</integer>
		</array>
		<array>
			<integer>9</integer>
			<integer>3</integer>
		</array>
	</array>
	<key>DETERIORATE / ERODE</key>
	<array>
		<array>
			<integer>7</integer>
			<integer>11</integer>
		</array>
		<array>
			<integer>10</integer>
			<integer>11</integer>
		</array>
		<array>
			<integer>10</integer>
			<integer>5</integer>
		</array>
	</array>
	<key>DIE</key>
	<array>
		<array>
			<integer>10</integer>
			<integer>5</integer>
		</array>
		<array>
			<integer>10</integer>
			<integer>11</integer>
		</array>
		<array>
			<integer>9</integer>
			<integer>11</integer>
		</array>
		<array>
			<integer>9</integer>
			<integer>3</integer>
		</array>
	</array>
	<key>DIFFICULT</key>
	<array>
		<array>
			<integer>10</integer>
			<integer>11</integer>
		</array>
		<array>
			<integer>9</integer>
			<integer>11</integer>
		</array>
		<array>
			<integer>9</integer>
			<integer>8</integer>
		</array>
		<array>
			<integer>8</integer>
			<integer>2</integer>
		</array>
	</array>
	<key>DISCOVER</key>
	<array>
		<array>
			<integer>4</integer>
			<integer>5</integer>
		</array>
		<array>
			<integer>3</integer>
			<integer>4</integer>
		</array>
		<array>
			<integer>2</integer>
			<integer>3</integer>
		</array>
	</array>
	<key>DISTANCE / OUTSIDE</key>
	<array>
		<array>
			<integer>6</integer>
			<integer>5</integer>
		</array>
		<array>
			<integer>6</integer>
			<integer>1</integer>
		</array>
	</array>
	<key>EASY</key>
	<array>
		<array>
			<integer>10</integer>
			<integer>4</integer>
		</array>
		<array>
			<integer>10</integer>
			<integer>11</integer>
		</array>
		<array>
			<integer>8</integer>
			<integer>11</integer>
		</array>
	</array>
	<key>END / CLOSE / FINALITY</key>
	<array>
		<array>
			<integer>1</integer>
			<integer>2</integer>
		</array>
		<array>
			<integer>2</integer>
			<integer>9</integer>
		</array>
		<array>
			<integer>9</integer>
			<integer>4</integer>
		</array>
		<array>
			<integer>11</integer>
			<integer>4</integer>
		</array>
		<array>
			<integer>1</integer>
			<integer>11</integer>
		</array>
	</array>
	<key>ENLIGHTENED / ENLIGHTENMENT</key>
	<array>
		<array>
			<integer>3</integer>
			<integer>4</integer>
		</array>
		<array>
			<integer>2</integer>
			<integer>3</integer>
		</array>
		<array>
			<integer>2</integer>
			<integer>1</integer>
		</array>
		<array>
			<integer>7</integer>
			<integer>1</integer>
		</array>
		<array>
			<integer>7</integer>
			<integer>8</integer>
		</array>
		<array>
			<integer>8</integer>
			<integer>11</integer>
		</array>
		<array>
			<integer>7</integer>
			<integer>11</integer>
		</array>
	</array>
	<key>ENLIGHTENED / ENLIGHTENMENT (TYPE B)</key>
	<array>
		<array>
			<integer>4</integer>
			<integer>5</integer>
		</array>
		<array>
			<integer>3</integer>
			<integer>4</integer>
		</array>
		<array>
			<integer>2</integer>
			<integer>3</integer>
		</array>
		<array>
			<integer>2</integer>
			<integer>1</integer>
		</array>
		<array>
			<integer>7</integer>
			<integer>1</integer>
		</array>
		<array>
			<integer>7</integer>
			<integer>11</integer>
		</array>
		<array>
			<integer>8</integer>
			<integer>11</integer>
		</array>
		<array>
			<integer>7</integer>
			<integer>8</integer>
		</array>
	</array>
	<key>EQUAL</key>
	<array>
		<array>
			<integer>7</integer>
			<integer>10</integer>
		</array>
		<array>
			<integer>7</integer>
			<integer>8</integer>
		</array>
		<array>
			<integer>8</integer>
			<integer>9</integer>
		</array>
	</array>
	<key>ESCAPE</key>
	<array>
		<array>
			<integer>7</integer>
			<integer>10</integer>
		</array>
		<array>
			<integer>7</integer>
			<integer>8</integer>
		</array>
		<array>
			<integer>8</integer>
			<integer>2</integer>
		</array>
		<array>
			<integer>2</integer>
			<integer>1</integer>
		</array>
	</array>
	<key>EVOLUTION / SUCCESS / PROGRESS</key>
	<array>
		<array>
			<integer>1</integer>
			<integer>11</integer>
		</array>
		<array>
			<integer>7</integer>
			<integer>11</integer>
		</array>
		<array>
			<integer>7</integer>
			<integer>10</integer>
		</array>
	</array>
	<key>FAILURE</key>
	<array>
		<array>
			<integer>1</integer>
			<integer>11</integer>
		</array>
		<array>
			<integer>8</integer>
			<integer>11</integer>
		</array>
		<array>
			<integer>8</integer>
			<integer>9</integer>
		</array>
	</array>
	<key>FEAR</key>
	<array>
		<array>
			<integer>7</integer>
			<integer>8</integer>
		</array>
		<array>
			<integer>8</integer>
			<integer>9</integer>
		</array>
		<array>
			<integer>9</integer>
			<integer>2</integer>
		</array>
	</array>
	<key>FOLLOW</key>
	<array>
		<array>
			<integer>1</integer>
			<integer>8</integer>
		</array>
		<array>
			<integer>8</integer>
			<integer>2</integer>
		</array>
		<array>
			<integer>2</integer>
			<integer>3</integer>
		</array>
	</array>
	<key>FORGET</key>
	<array>
		<array>
			<integer>10</integer>
			<integer>5</integer>
		</array>
	</array>
	<key>FUTURE / FORWARD-TIME</key>
	<array>
		<array>
			<integer>2</integer>
			<integer>8</integer>
		</array>
		<array>
			<integer>8</integer>
			<integer>9</integer>
		</array>
		<array>
			<integer>9</integer>
			<integer>3</integer>
		</array>
	</array>
	<key>GAIN</key>
	<array>
		<array>
			<integer>6</integer>
			<integer>10</integer>
		</array>
	</array>
	<key>GOVERNMENT / CITY / CIVILIZATION / STRUCTURE</key>
	<array>
		<array>
			<integer>6</integer>
			<integer>7</integer>
		</array>
		<array>
			<integer>7</integer>
			<integer>10</integer>
		</array>
		<array>
			<integer>10</integer>
			<integer>9</integer>
		</array>
		<array>
			<integer>9</integer>
			<integer>8</integer>
		</array>
		<array>
			<integer>8</integer>
			<integer>2</integer>
		</array>
	</array>
	<key>GROW</key>
	<array>
		<array>
			<integer>7</integer>
			<integer>5</integer>
		</array>
		<array>
			<integer>7</integer>
			<integer>10</integer>
		</array>
	</array>
	<key>HARM</key>
	<array>
		<array>
			<integer>9</integer>
			<integer>3</integer>
		</array>
		<array>
			<integer>9</integer>
			<integer>11</integer>
		</array>
		<array>
			<integer>7</integer>
			<integer>11</integer>
		</array>
		<array>
			<integer>7</integer>
			<integer>1</integer>
		</array>
		<array>
			<integer>1</integer>
			<integer>8</integer>
		</array>
		<array>
			<integer>8</integer>
			<integer>11</integer>
		</array>
	</array>
	<key>HARMONY / PEACE</key>
	<array>
		<array>
			<integer>9</integer>
			<integer>11</integer>
		</array>
		<array>
			<integer>7</integer>
			<integer>11</integer>
		</array>
		<array>
			<integer>1</integer>
			<integer>8</integer>
		</array>
		<array>
			<integer>8</integer>
			<integer>11</integer>
		</array>
		<array>
			<integer>10</integer>
			<integer>11</integer>
		</array>
		<array>
			<integer>10</integer>
			<integer>4</integer>
		</array>
		<array>
			<integer>9</integer>
			<integer>4</integer>
		</array>
		<array>
			<integer>7</integer>
			<integer>1</integer>
		</array>
	</array>
	<key>HAVE</key>
	<array>
		<array>
			<integer>9</integer>
			<integer>11</integer>
		</array>
		<array>
			<integer>10</integer>
			<integer>11</integer>
		</array>
		<array>
			<integer>10</integer>
			<integer>4</integer>
		</array>
	</array>
	<key>HELP</key>
	<array>
		<array>
			<integer>6</integer>
			<integer>7</integer>
		</array>
		<array>
			<integer>7</integer>
			<integer>11</integer>
		</array>
		<array>
			<integer>10</integer>
			<integer>11</integer>
		</array>
		<array>
			<integer>10</integer>
			<integer>9</integer>
		</array>
	</array>
	<key>HIDE</key>
	<array>
		<array>
			<integer>7</integer>
			<integer>8</integer>
		</array>
		<array>
			<integer>8</integer>
			<integer>2</integer>
		</array>
		<array>
			<integer>2</integer>
			<integer>9</integer>
		</array>
		<array>
			<integer>9</integer>
			<integer>10</integer>
		</array>
	</array>
	<key>I / ME / SELF</key>
	<array>
		<array>
			<integer>7</integer>
			<integer>8</integer>
		</array>
		<array>
			<integer>8</integer>
			<integer>4</integer>
		</array>
		<array>
			<integer>7</integer>
			<integer>4</integer>
		</array>
	</array>
	<key>IGNORE</key>
	<array>
		<array>
			<integer>9</integer>
			<integer>3</integer>
		</array>
	</array>
	<key>IMPERFECT</key>
	<array>
		<array>
			<integer>8</integer>
			<integer>10</integer>
		</array>
		<array>
			<integer>8</integer>
			<integer>11</integer>
		</array>
		<array>
			<integer>10</integer>
			<integer>11</integer>
		</array>
		<array>
			<integer>7</integer>
			<integer>10</integer>
		</array>
		<array>
			<integer>7</integer>
			<integer>11</integer>
		</array>
	</array>
	<key>IMPROVE</key>
	<array>
		<array>
			<integer>2</integer>
			<integer>8</integer>
		</array>
		<array>
			<integer>8</integer>
			<integer>11</integer>
		</array>
		<array>
			<integer>9</integer>
			<integer>11</integer>
		</array>
	</array>
	<key>IMPURE</key>
	<array>
		<array>
			<integer>11</integer>
			<integer>4</integer>
		</array>
		<array>
			<integer>7</integer>
			<integer>11</integer>
		</array>
		<array>
			<integer>7</integer>
			<integer>10</integer>
		</array>
		<array>
			<integer>10</integer>
			<integer>11</integer>
		</array>
	</array>
	<key>JOURNEY</key>
	<array>
		<array>
			<integer>2</integer>
			<integer>8</integer>
		</array>
		<array>
			<integer>8</integer>
			<integer>11</integer>
		</array>
		<array>
			<integer>7</integer>
			<integer>11</integer>
		</array>
		<array>
			<integer>7</integer>
			<integer>6</integer>
		</array>
		<array>
			<integer>6</integer>
			<integer>5</integer>
		</array>
		<array>
			<integer>4</integer>
			<integer>5</integer>
		</array>
	</array>
	<key>KNOWLEDGE</key>
	<array>
		<array>
			<integer>7</integer>
			<integer>11</integer>
		</array>
		<array>
			<integer>8</integer>
			<integer>11</integer>
		</array>
		<array>
			<integer>8</integer>
			<integer>4</integer>
		</array>
		<array>
			<integer>7</integer>
			<integer>4</integer>
		</array>
	</array>
	<key>LEAD</key>
	<array>
		<array>
			<integer>10</integer>
			<integer>4</integer>
		</array>
		<array>
			<integer>10</integer>
			<integer>5</integer>
		</array>
		<array>
			<integer>6</integer>
			<integer>5</integer>
		</array>
		<array>
			<integer>6</integer>
			<integer>1</integer>
		</array>
	</array>
	<key>LEGACY</key>
	<array>
		<array>
			<integer>10</integer>
			<integer>5</integer>
		</array>
		<array>
			<integer>7</integer>
			<integer>10</integer>
		</array>
		<array>
			<integer>7</integer>
			<integer>6</integer>
		</array>
		<array>
			<integer>6</integer>
			<integer>1</integer>
		</array>
		<array>
			<integer>1</integer>
			<integer>2</integer>
		</array>
		<array>
			<integer>2</integer>
			<integer>8</integer>
		</array>
		<array>
			<integer>8</integer>
			<integer>9</integer>
		</array>
		<array>
			<integer>9</integer>
			<integer>3</integer>
		</array>
	</array>
	<key>LESS</key>
	<array>
		<array>
			<integer>7</integer>
			<integer>11</integer>
		</array>
		<array>
			<integer>8</integer>
			<integer>11</integer>
		</array>
	</array>
	<key>LIBERATE</key>
	<array>
		<array>
			<integer>7</integer>
			<integer>5</integer>
		</array>
		<array>
			<integer>7</integer>
			<integer>11</integer>
		</array>
		<array>
			<integer>8</integer>
			<integer>11</integer>
		</array>
		<array>
			<integer>8</integer>
			<integer>2</integer>
		</array>
		<array>
			<integer>2</integer>
			<integer>1</integer>
		</array>
	</array>
	<key>LIE</key>
	<array>
		<array>
			<integer>7</integer>
			<integer>10</integer>
		</array>
		<array>
			<integer>7</integer>
			<integer>11</integer>
		</array>
		<array>
			<integer>9</integer>
			<integer>11</integer>
		</array>
		<array>
			<integer>9</integer>
			<integer>8</integer>
		</array>
		<array>
			<integer>8</integer>
			<integer>11</integer>
		</array>
	</array>
	<key>LIVE AGAIN / REINCARNATE</key>
	<array>
		<array>
			<integer>7</integer>
			<integer>5</integer>
		</array>
		<array>
			<integer>7</integer>
			<integer>10</integer>
		</array>
		<array>
			<integer>10</integer>
			<integer>11</integer>
		</array>
		<array>
			<integer>8</integer>
			<integer>11</integer>
		</array>
		<array>
			<integer>8</integer>
			<integer>2</integer>
		</array>
	</array>
	<key>LOSE / LOSS</key>
	<array>
		<array>
			<integer>2</integer>
			<integer>9</integer>
		</array>
	</array>
	<key>MESSAGE</key>
	<array>
		<array>
			<integer>7</integer>
			<integer>5</integer>
		</array>
		<array>
			<integer>7</integer>
			<integer>11</integer>
		</array>
		<array>
			<integer>9</integer>
			<integer>11</integer>
		</array>
		<array>
			<integer>9</integer>
			<integer>2</integer>
		</array>
	</array>
	<key>MIND / IDEA / THOUGHT</key>
	<array>
		<array>
			<integer>7</integer>
			<integer>11</integer>
		</array>
		<array>
			<integer>4</integer>
			<integer>11</integer>
		</array>
		<array>
			<integer>10</integer>
			<integer>4</integer>
		</array>
		<array>
			<integer>7</integer>
			<integer>10</integer>
		</array>
	</array>
	<key>MORE</key>
	<array>
		<array>
			<integer>10</integer>
			<integer>11</integer>
		</array>
		<array>
			<integer>9</integer>
			<integer>11</integer>
		</array>
	</array>
	<key>MYSTERY</key>
	<array>
		<array>
			<integer>1</integer>
			<integer>8</integer>
		</array>
		<array>
			<integer>7</integer>
			<integer>8</integer>
		</array>
		<array>
			<integer>7</integer>
			<integer>6</integer>
		</array>
		<array>
			<integer>7</integer>
			<integer>10</integer>
		</array>
		<array>
			<integer>7</integer>
			<integer>1</integer>
		</array>
	</array>
	<key>NATURE</key>
	<array>
		<array>
			<integer>10</integer>
			<integer>5</integer>
		</array>
		<array>
			<integer>7</integer>
			<integer>10</integer>
		</array>
		<array>
			<integer>7</integer>
			<integer>8</integer>
		</array>
		<array>
			<integer>8</integer>
			<integer>9</integer>
		</array>
		<array>
			<integer>9</integer>
			<integer>3</integer>
		</array>
	</array>
	<key>NEW</key>
	<array>
		<array>
			<integer>8</integer>
			<integer>9</integer>
		</array>
		<array>
			<integer>9</integer>
			<integer>3</integer>
		</array>
	</array>
	<key>NO / NOT / ABSENT / INSIDE</key>
	<array>
		<array>
			<integer>7</integer>
			<integer>8</integer>
		</array>
		<array>
			<integer>8</integer>
			<integer>9</integer>
		</array>
	</array>
	<key>NOURISH</key>
	<array>
		<array>
			<integer>4</integer>
			<integer>11</integer>
		</array>
		<array>
			<integer>5</integer>
			<integer>4</integer>
		</array>
		<array>
			<integer>10</integer>
			<integer>5</integer>
		</array>
		<array>
			<integer>10</integer>
			<integer>11</integer>
		</array>
	</array>
	<key>OLD</key>
	<array>
		<array>
			<integer>6</integer>
			<integer>7</integer>
		</array>
		<array>
			<integer>7</integer>
			<integer>10</integer>
		</array>
	</array>
	<key>OPEN / ACCEPT</key>
	<array>
		<array>
			<integer>10</integer>
			<integer>9</integer>
		</array>
		<array>
			<integer>9</integer>
			<integer>4</integer>
		</array>
		<array>
			<integer>10</integer>
			<integer>4</integer>
		</array>
	</array>
	<key>OPEN ALL</key>
	<array>
		<array>
			<integer>1</integer>
			<integer>2</integer>
		</array>
		<array>
			<integer>2</integer>
			<integer>3</integer>
		</array>
		<array>
			<integer>4</integer>
			<integer>3</integer>
		</array>
		<array>
			<integer>5</integer>
			<integer>4</integer>
		</array>
		<array>
			<integer>6</integer>
			<integer>5</integer>
		</array>
		<array>
			<integer>6</integer>
			<integer>1</integer>
		</array>
		<array>
			<integer>10</integer>
			<integer>4</integer>
		</array>
		<array>
			<integer>10</integer>
			<integer>9</integer>
		</array>
		<array>
			<integer>9</integer>
			<integer>4</integer>
		</array>
	</array>
	<key>OPENING / DOORWAY / PORTAL</key>
	<array>
		<array>
			<integer>6</integer>
			<integer>7</integer>
		</array>
		<array>
			<integer>7</integer>
			<integer>8</integer>
		</array>
		<array>
			<integer>8</integer>
			<integer>2</integer>
		</array>
		<array>
			<integer>2</integer>
			<integer>3</integer>
		</array>
		<array>
			<integer>9</integer>
			<integer>3</integer>
		</array>
		<array>
			<integer>9</integer>
			<integer>10</integer>
		</array>
		<array>
			<integer>10</integer>
			<integer>5</integer>
		</array>
		<array>
			<integer>6</integer>
			<integer>5</integer>
		</array>
	</array>
	<key>PAST</key>
	<array>
		<array>
			<integer>6</integer>
			<integer>7</integer>
		</array>
		<array>
			<integer>7</integer>
			<integer>10</integer>
		</array>
		<array>
			<integer>10</integer>
			<integer>5</integer>
		</array>
	</array>
	<key>PATH</key>
	<array>
		<array>
			<integer>1</integer>
			<integer>11</integer>
		</array>
		<array>
			<integer>10</integer>
			<integer>11</integer>
		</array>
		<array>
			<integer>10</integer>
			<integer>5</integer>
		</array>
	</array>
	<key>PERFECTION / BALANCE</key>
	<array>
		<array>
			<integer>1</integer>
			<integer>11</integer>
		</array>
		<array>
			<integer>9</integer>
			<integer>11</integer>
		</array>
		<array>
			<integer>9</integer>
			<integer>3</integer>
		</array>
		<array>
			<integer>4</integer>
			<integer>3</integer>
		</array>
		<array>
			<integer>5</integer>
			<integer>4</integer>
		</array>
		<array>
			<integer>10</integer>
			<integer>5</integer>
		</array>
		<array>
			<integer>10</integer>
			<integer>11</integer>
		</array>
	</array>
	<key>PERSPECTIVE</key>
	<array>
		<array>
			<integer>8</integer>
			<integer>11</integer>
		</array>
		<array>
			<integer>8</integer>
			<integer>1</integer>
		</array>
		<array>
			<integer>7</integer>
			<integer>1</integer>
		</array>
		<array>
			<integer>7</integer>
			<integer>11</integer>
		</array>
		<array>
			<integer>9</integer>
			<integer>11</integer>
		</array>
		<array>
			<integer>9</integer>
			<integer>3</integer>
		</array>
		<array>
			<integer>10</integer>
			<integer>11</integer>
		</array>
		<array>
			<integer>10</integer>
			<integer>5</integer>
		</array>
	</array>
	<key>POTENTIAL</key>
	<array>
		<array>
			<integer>1</integer>
			<integer>11</integer>
		</array>
		<array>
			<integer>9</integer>
			<integer>11</integer>
		</array>
		<array>
			<integer>9</integer>
			<integer>3</integer>
		</array>
		<array>
			<integer>2</integer>
			<integer>3</integer>
		</array>
	</array>
	<key>PRESENCE</key>
	<array>
		<array>
			<integer>9</integer>
			<integer>4</integer>
		</array>
		<array>
			<integer>10</integer>
			<integer>4</integer>
		</array>
		<array>
			<integer>10</integer>
			<integer>9</integer>
		</array>
		<array>
			<integer>9</integer>
			<integer>8</integer>
		</array>
		<array>
			<integer>8</integer>
			<integer>11</integer>
		</array>
		<array>
			<integer>7</integer>
			<integer>11</integer>
		</array>
		<array>
			<integer>7</integer>
			<integer>10</integer>
		</array>
	</array>
	<key>PRESENT / NOW</key>
	<array>
		<array>
			<integer>7</integer>
			<integer>10</integer>
		</array>
		<array>
			<integer>10</integer>
			<integer>9</integer>
		</array>
		<array>
			<integer>9</integer>
			<integer>8</integer>
		</array>
	</array>
	<key>PURE / PURITY</key>
	<array>
		<array>
			<integer>1</integer>
			<integer>11</integer>
		</array>
		<array>
			<integer>9</integer>
			<integer>11</integer>
		</array>
		<array>
			<integer>9</integer>
			<integer>8</integer>
		</array>
		<array>
			<integer>8</integer>
			<integer>11</integer>
		</array>
	</array>
	<key>PURSUE / ASPIRATION</key>
	<array>
		<array>
			<integer>6</integer>
			<integer>7</integer>
		</array>
		<array>
			<integer>7</integer>
			<integer>1</integer>
		</array>
		<array>
			<integer>1</integer>
			<integer>8</integer>
		</array>
	</array>
	<key>PURSUE / CHASE</key>
	<array>
		<array>
			<integer>10</integer>
			<integer>5</integer>
		</array>
		<array>
			<integer>7</integer>
			<integer>10</integer>
		</array>
		<array>
			<integer>7</integer>
			<integer>11</integer>
		</array>
		<array>
			<integer>1</integer>
			<integer>11</integer>
		</array>
	</array>
	<key>QUESTION</key>
	<array>
		<array>
			<integer>7</integer>
			<integer>10</integer>
		</array>
		<array>
			<integer>7</integer>
			<integer>8</integer>
		</array>
		<array>
			<integer>8</integer>
			<integer>1</integer>
		</array>
	</array>
	<key>REACT</key>
	<array>
		<array>
			<integer>7</integer>
			<integer>8</integer>
		</array>
		<array>
			<integer>7</integer>
			<integer>11</integer>
		</array>
		<array>
			<integer>9</integer>
			<integer>11</integer>
		</array>
		<array>
			<integer>9</integer>
			<integer>3</integer>
		</array>
	</array>
	<key>REBEL</key>
	<array>
		<array>
			<integer>6</integer>
			<integer>10</integer>
		</array>
		<array>
			<integer>10</integer>
			<integer>11</integer>
		</array>
		<array>
			<integer>8</integer>
			<integer>11</integer>
		</array>
		<array>
			<integer>8</integer>
			<integer>2</integer>
		</array>
		<array>
			<integer>2</integer>
			<integer>3</integer>
		</array>
	</array>
	<key>RECHARGE</key>
	<array>
		<array>
			<integer>1</integer>
			<integer>11</integer>
		</array>
		<array>
			<integer>7</integer>
			<integer>11</integer>
		</array>
		<array>
			<integer>7</integer>
			<integer>6</integer>
		</array>
		<array>
			<integer>6</integer>
			<integer>1</integer>
		</array>
	</array>
	<key>RESIST / RESISTANCE (TYPE B)</key>
	<array>
		<array>
			<integer>9</integer>
			<integer>4</integer>
		</array>
		<array>
			<integer>11</integer>
			<integer>4</integer>
		</array>
		<array>
			<integer>1</integer>
			<integer>11</integer>
		</array>
		<array>
			<integer>7</integer>
			<integer>1</integer>
		</array>
		<array>
			<integer>7</integer>
			<integer>8</integer>
		</array>
	</array>
	<key>RESIST / RESISTANCE / STRUGGLE</key>
	<array>
		<array>
			<integer>10</integer>
			<integer>4</integer>
		</array>
		<array>
			<integer>11</integer>
			<integer>4</integer>
		</array>
		<array>
			<integer>1</integer>
			<integer>11</integer>
		</array>
		<array>
			<integer>7</integer>
			<integer>1</integer>
		</array>
		<array>
			<integer>7</integer>
			<integer>8</integer>
		</array>
	</array>
	<key>RESTRAINT</key>
	<array>
		<array>
			<integer>6</integer>
			<integer>7</integer>
		</array>
		<array>
			<integer>7</integer>
			<integer>11</integer>
		</array>
		<array>
			<integer>9</integer>
			<integer>11</integer>
		</array>
		<array>
			<integer>9</integer>
			<integer>3</integer>
		</array>
		<array>
			<integer>4</integer>
			<integer>3</integer>
		</array>
	</array>
	<key>RETREAT</key>
	<array>
		<array>
			<integer>1</integer>
			<integer>8</integer>
		</array>
		<array>
			<integer>8</integer>
			<integer>3</integer>
		</array>
	</array>
	<key>SAFETY</key>
	<array>
		<array>
			<integer>7</integer>
			<integer>5</integer>
		</array>
		<array>
			<integer>7</integer>
			<integer>8</integer>
		</array>
		<array>
			<integer>8</integer>
			<integer>3</integer>
		</array>
	</array>
	<key>SAVE / RESCUE</key>
	<array>
		<array>
			<integer>10</integer>
			<integer>11</integer>
		</array>
		<array>
			<integer>9</integer>
			<integer>11</integer>
		</array>
		<array>
			<integer>9</integer>
			<integer>2</integer>
		</array>
	</array>
	<key>SEE</key>
	<array>
		<array>
			<integer>7</integer>
			<integer>1</integer>
		</array>
	</array>
	<key>SEEK / SEARCH</key>
	<array>
		<array>
			<integer>9</integer>
			<integer>10</integer>
		</array>
		<array>
			<integer>7</integer>
			<integer>10</integer>
		</array>
		<array>
			<integer>7</integer>
			<integer>8</integer>
		</array>
		<array>
			<integer>8</integer>
			<integer>11</integer>
		</array>
	</array>
	<key>SELF</key>
	<array>
		<array>
			<integer>4</integer>
			<integer>5</integer>
		</array>
		<array>
			<integer>3</integer>
			<integer>4</integer>
		</array>
	</array>
	<key>SEPARATE</key>
	<array>
		<array>
			<integer>6</integer>
			<integer>7</integer>
		</array>
		<array>
			<integer>7</integer>
			<integer>10</integer>
		</array>
		<array>
			<integer>10</integer>
			<integer>11</integer>
		</array>
		<array>
			<integer>8</integer>
			<integer>11</integer>
		</array>
		<array>
			<integer>8</integer>
			<integer>9</integer>
		</array>
		<array>
			<integer>9</integer>
			<integer>3</integer>
		</array>
	</array>
	<key>SHAPER / COLLECTIVE + BEING / HUMAN</key>
	<array>
		<array>
			<integer>10</integer>
			<integer>5</integer>
		</array>
		<array>
			<integer>10</integer>
			<integer>4</integer>
		</array>
		<array>
			<integer>9</integer>
			<integer>4</integer>
		</array>
		<array>
			<integer>9</integer>
			<integer>3</integer>
		</array>
		<array>
			<integer>9</integer>
			<integer>8</integer>
		</array>
		<array>
			<integer>7</integer>
			<integer>8</integer>
		</array>
		<array>
			<integer>7</integer>
			<integer>10</integer>
		</array>
		<array>
			<integer>7</integer>
			<integer>1</integer>
		</array>
		<array>
			<integer>1</integer>
			<integer>8</integer>
		</array>
	</array>
	<key>SHAPERS / COLLECTIVE</key>
	<array>
		<array>
			<integer>10</integer>
			<integer>5</integer>
		</array>
		<array>
			<integer>7</integer>
			<integer>10</integer>
		</array>
		<array>
			<integer>7</integer>
			<integer>1</integer>
		</array>
		<array>
			<integer>1</integer>
			<integer>8</integer>
		</array>
		<array>
			<integer>8</integer>
			<integer>9</integer>
		</array>
		<array>
			<integer>9</integer>
			<integer>3</integer>
		</array>
	</array>
	<key>SHARE</key>
	<array>
		<array>
			<integer>9</integer>
			<integer>3</integer>
		</array>
		<array>
			<integer>9</integer>
			<integer>10</integer>
		</array>
		<array>
			<integer>10</integer>
			<integer>5</integer>
		</array>
		<array>
			<integer>4</integer>
			<integer>5</integer>
		</array>
	</array>
	<key>SIMPLE</key>
	<array>
		<array>
			<integer>10</integer>
			<integer>9</integer>
		</array>
	</array>
	<key>SOUL / SPIRIT / LIFE FORCE</key>
	<array>
		<array>
			<integer>8</integer>
			<integer>9</integer>
		</array>
		<array>
			<integer>9</integer>
			<integer>4</integer>
		</array>
		<array>
			<integer>11</integer>
			<integer>4</integer>
		</array>
		<array>
			<integer>8</integer>
			<integer>11</integer>
		</array>
	</array>
	<key>STABILITY / STAY</key>
	<array>
		<array>
			<integer>10</integer>
			<integer>5</integer>
		</array>
		<array>
			<integer>10</integer>
			<integer>9</integer>
		</array>
		<array>
			<integer>9</integer>
			<integer>3</integer>
		</array>
	</array>
	<key>STRONG</key>
	<array>
		<array>
			<integer>8</integer>
			<integer>9</integer>
		</array>
		<array>
			<integer>9</integer>
			<integer>10</integer>
		</array>
		<array>
			<integer>7</integer>
			<integer>10</integer>
		</array>
		<array>
			<integer>7</integer>
			<integer>8</integer>
		</array>
	</array>
	<key>TOGETHER</key>
	<array>
		<array>
			<integer>10</integer>
			<integer>5</integer>
		</array>
		<array>
			<integer>10</integer>
			<integer>11</integer>
		</array>
		<array>
			<integer>8</integer>
			<integer>11</integer>
		</array>
		<array>
			<integer>7</integer>
			<integer>8</integer>
		</array>
		<array>
			<integer>7</integer>
			<integer>11</integer>
		</array>
	</array>
	<key>TRUTH</key>
	<array>
		<array>
			<integer>7</integer>
			<integer>10</integer>
		</array>
		<array>
			<integer>10</integer>
			<integer>11</integer>
		</array>
		<array>
			<integer>8</integer>
			<integer>11</integer>
		</array>
		<array>
			<integer>8</integer>
			<integer>9</integer>
		</array>
		<array>
			<integer>9</integer>
			<integer>11</integer>
		</array>
		<array>
			<integer>7</integer>
			<integer>11</integer>
		</array>
	</array>
	<key>USE</key>
	<array>
		<array>
			<integer>9</integer>
			<integer>11</integer>
		</array>
		<array>
			<integer>9</integer>
			<integer>2</integer>
		</array>
	</array>
	<key>VICTORY</key>
	<array>
		<array>
			<integer>7</integer>
			<integer>4</integer>
		</array>
		<array>
			<integer>8</integer>
			<integer>4</integer>
		</array>
		<array>
			<integer>8</integer>
			<integer>1</integer>
		</array>
		<array>
			<integer>7</integer>
			<integer>1</integer>
		</array>
	</array>
	<key>WANT / DESIRE</key>
	<array>
		<array>
			<integer>10</integer>
			<integer>5</integer>
		</array>
		<array>
			<integer>10</integer>
			<integer>4</integer>
		</array>
		<array>
			<integer>9</integer>
			<integer>4</integer>
		</array>
	</array>
	<key>WE / US</key>
	<array>
		<array>
			<integer>7</integer>
			<integer>8</integer>
		</array>
		<array>
			<integer>8</integer>
			<integer>4</integer>
		</array>
	</array>
	<key>WEAK</key>
	<array>
		<array>
			<integer>6</integer>
			<integer>7</integer>
		</array>
		<array>
			<integer>7</integer>
			<integer>8</integer>
		</array>
		<array>
			<integer>8</integer>
			<integer>9</integer>
		</array>
	</array>
	<key>WORTH</key>
	<array>
		<array>
			<integer>6</integer>
			<integer>10</integer>
		</array>
		<array>
			<integer>10</integer>
			<integer>11</integer>
		</array>
		<array>
			<integer>9</integer>
			<integer>11</integer>
		</array>
		<array>
			<integer>9</integer>
			<integer>2</integer>
		</array>
	</array>
	<key>XM</key>
	<array>
		<array>
			<integer>7</integer>
			<integer>8</integer>
		</array>
		<array>
			<integer>8</integer>
			<integer>9</integer>
		</array>
		<array>
			<integer>9</integer>
			<integer>11</integer>
		</array>
		<array>
			<integer>10</integer>
			<integer>11</integer>
		</array>
		<array>
			<integer>7</integer>
			<integer>10</integer>
		</array>
	</array>
	<key>YOU / OTHER</key>
	<array>
		<array>
			<integer>10</integer>
			<integer>9</integer>
		</array>
		<array>
			<integer>9</integer>
			<integer>1</integer>
		</array>
		<array>
			<integer>1</integer>
			<integer>10</integer>
		</array>
	</array>
</dict>
</plist>
